*{
    margin: 0;
}
body{
    display: flex;
    flex-direction: column;
}
header{
    padding: 2rem;
    background: lightgray;
}
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
nav ul{
    display: flex;
    list-style: none;
    gap: .8rem;
    align-items: center;
}
nav ul li:last-child{
    background: black;
    color: white;
    padding: .8rem;
}
.corpo{
    display: flex;
    gap: 1rem;
    margin: 2rem;
}
aside{
    border: solid;
    height: 40vw;
    flex-basis: 20%;
    padding: 1rem;
}
main{
    border: solid;
    flex: 1;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: .8rem;
    justify-content: center;
}
section{
    width:30%;
    border: solid;
}
aside ul{
    list-style: none;
}
footer{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: auto;
    background-color: black;
    color: white;
    height: 2.6rem;
}